---
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<main id="main">
	<div class="inner">
		<div class="bingo-header">
			<div class="letter letter-b">B</div>
			<div class="letter letter-i">I</div>
			<div class="letter letter-n">N</div>
			<div class="letter letter-g">G</div>
			<div class="letter letter-o">O</div>
		</div>
		<div id="bingo" class="game-active game-play"></div>
	</div>
	</main>
</Layout>
