---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header id="header">
	<div class="inner">
	<!--     <h1>The People's Bingo</h1> -->
		<img class="logo" src="https://assets.codepen.io/3180931/logo.svg" alt="" />
	</div>
	</header>
	<main id="main">
	<div class="inner">
		<div class="buttons">
		<button class="btn btn-restart">Restart</button>
		<button class="btn btn-start">Start</button>
		<button class="btn btn-pause" disabled>Pause</button>
		</div>
		<div id="bingo"></div>
	</div>
	</main>
	<footer id="footer">
	<div class="inner">
		<ul class="footer-links">
		<li>
			<button class="btn btn-about">About this game</button>
		</li>
		<li>
			We <span class="red">❤</span> Judge Marilyn Milian.
		</li>
		</ul>
	</div>
	</footer>

	<div id="about" class="modal modal-about">
	<div class="modal-box">
		<button class="btn-close">X</button>
		<div class="content">
		<h2>About this game</h2>
		<p>This game is loosely based on bingo and was built as a means to better understand coding as I learn. My wife and I love watching People's Court re-runs and keep a running list of out favorite quotes so this was a simple and fun way two merge to things I enjoy. The general vibe is to fire up youtube, pull up The People's Court, and watch a few episodes to try and get a bingo. In it's current iteration it would take quite a few episodes to get a bingo.</p>
		</div>
	</div>
	</div>

	<div id="winner" class="modal modal-winner">
	<div class="modal-box">
		<button class="btn-close">X</button>
		<div class="content">
		<h2>Congratulations!</h2>
		<p>If you made it this far you must really like The People's Court.</p>
		<button class="btn btn-winner-restart">Restart</button>
		</div>
	</div>
	</div>

</Layout>
