<div id="about" class="modal modal-about">
	<div class="modal-box">
		<button class="btn-close">X</button>
		<div class="content">
		<h2>About this game</h2>
		<p>This game is loosely based on bingo and was built as a means to better understand coding as I learn. My wife and I love watching People's Court re-runs and keep a running list of out favorite quotes so this was a simple and fun way two merge to things I enjoy. The general vibe is to fire up youtube, pull up The People's Court, and watch a few episodes to try and get a bingo. In it's current iteration it would take quite a few episodes to get a bingo.</p>
		</div>
	</div>
</div>