<footer id="footer">
	<div class="inner">
		<ul class="footer-links">
		<li>
			<button class="btn btn-about">About this game</button>
		</li>
		<li>
			We <span class="red">â¤</span> Judge Marilyn Milian.
		</li>
		</ul>
	</div>
</footer>