---
import Share from "../components/Share.astro";
// import the Image component and the image
import { Image } from 'astro:assets';
import logoImage from '../assets/the-peoples-bingo-logo.svg';
import refreshImage from '../assets/refresh.svg';
---
<header id="header">
	<div class="inner">
		<Share />
        <h1><Image src={logoImage} alt="The People's Bingo" height="99" width="150" class="logo" loading="eager" fetchpriority=high /></h1>
		<button class="btn btn-restart"><Image src={refreshImage} alt="Refresh the board" height="23" width="23" class="refresh" loading="eager" /></button>
	</div>
</header>