---
// import the Image component and the image
import { Image } from 'astro:assets';
import shareImage from '../assets/share.svg';
---
<button class="btn btn-share"><Image src={shareImage} alt="Share The People's Bingo" height="23" width="23" class="refresh" loading="eager" /></button>

<script>
    const isMobile = /Mobi/i.test(navigator.userAgent);
    const shareButton = document.querySelector(".btn-share");
    const shareModal = document.querySelector(".modal-share");

    if (isMobile) {
        console.log("isMobile: " + isMobile);
        // shareModal?.classList.remove('modal-active');
        // document.querySelector('body').classList.remove('modal-open');
        if (navigator.share) {
            const shareData = {
                title: "The People's Bingo",
                text: "The People's Bingo is a People's Court themed bingo game for the true fan of The Honorable Judge Marilyn Milian.",
                url: "https://developer.mozilla.org",
            };

            // const resultPara = document.querySelector(".result");

            // Share must be triggered by "user activation"
            shareButton.addEventListener("click", async () => {
            try {
                await navigator.share(shareData);
                // resultPara.textContent = "MDN shared successfully";
            } catch (err) {
                // resultPara.textContent = `Error: ${err}`;
            }
            });
        }
    } else {
        shareButton?.addEventListener('click', () => {
            shareModal?.classList.add('modal-active');
            document.querySelector('body').classList.add('modal-open');
        });
    }
</script>