---
// import the Image component and the image
import { Image } from 'astro:assets';
import shareImage from '../assets/share.svg';
---
<button class="btn btn-share"><Image src={shareImage} alt="Share The People's Bingo" height="23" width="23" class="refresh" loading="eager" /></button>

<script>
    const isMobile = /Mobi/i.test(navigator.userAgent);
    const shareButton = document.querySelector(".btn-share");
    const shareModal = document.querySelector(".modal-share");

    if (isMobile) {
        console.log("isMobile: " + isMobile);
        // shareModal?.classList.remove('modal-active');
        // document.querySelector('body').classList.remove('modal-open');
        if (navigator.share) {
            shareButton?.addEventListener('click', () => {
                navigator.share(shareData)
                .then(() =>
                    resultPara.textContent = 'The People\'s Bingo shared successfully!'
                )
                // .catch((e) =>
                // resultPara.textContent = 'Error: ' + e
                // )
            });
        }
    } else {
        shareButton?.addEventListener('click', () => {
            shareModal?.classList.add('modal-active');
            document.querySelector('body').classList.add('modal-open');
        });
    }
</script>