<div id="winner" class="modal modal-winner">
	<div class="modal-box">
		<button class="btn-close">X</button>
		<div class="content">
		<h2>Congratulations!</h2>
		<p>If you made it this far you must really like The People's Court.</p>
		<button class="btn btn-winner-restart">Restart</button>
		</div>
	</div>
</div>