<div id="winner" class="modal modal-winner">
	<div tabindex="-1" class="modal-box" role="dialog" aria-labelledby="dialog2Title" aria-describedby="dialog2Desc">
		<div class="content">
			<h2 id="dialog2Title">Congratulations!</h2>
			<p id="dialog2Desc">If you made it this far you must really like The People's Court.</p>
			<button class="btn btn-winner-restart">Restart</button>
		</div>
		<button class="btn-close">X</button>
	</div>
</div>