* {
  box-sizing: border-box;
}
body {
  background: tan;
  color: #000;
  text-align: center;
}
#bingo {
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 60vw;
  width: 100%;
  margin: 0 auto 30px;
}
#bingo .grid-item {
  flex: 0 1 20%;
  max-width: 20%;
  padding: 5px;
  text-align: center;
}

#bingo .grid-item .card {
  background: brown;
  border-radius: 10px;
  padding: 40px 0 90px;
  position: relative;
}
#bingo .grid-item.marked .card {
  background: gold;
}
#bingo .grid-item .card .text {
  border-radius: 7px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 6px;
  z-index: 666;
  height: 64px;
}
#bingo .grid-item .card .icon {
  display: none;
}
#bingo .grid-item .card .icon img {
  width: 40px;
  height: auto;
}