/* vars: */
$gold: #e4a837;
$gray: #303030;
$gray-dark: #222;
$red: #cc3400;
$offwhite: #f6e2bf;
$white: #fff;

* {
    box-sizing: border-box;
}
body {
    background: $white;
    color: #222;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    font-weight: 700;
    margin: 0;
}
h2 {
    font-weight: 700;
    margin: 0 0 1rem;
}
p {
    margin: 0 0 1.3rem;
    &:last-child {
        margin: 0;
    }
}
.red {
    color: $red;
}
.inner {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 15px;
}
#header {
    background: $white;
    .inner {
        position: relative;
        text-align: center;
    }
    .logo {
        display: block;
        width: 100px;
        height: auto;
        margin: 0 auto;
    }
    .btn-restart {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    @media all and (min-width: 768px) {
        .logo {
            width: 150px;
        }
    }
}
.buttons {
    margin-bottom: 15px;
}
.btn {
    background: $red;
    border: none;
    border-radius: 5px;
    color: $white;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    padding: 4px 10px;
    margin: 0 3px;
    // min-width: 80px;
    text-align: center;
    &:hover,
    &:active {
        background: $gray-dark;
        cursor: pointer;
    }
    &:disabled {
        background: #ccc;
        color: #666;
        &:hover {
            cursor: not-allowed;
        }
    }
    img {
        display: block;
        transform: scale(.7);
    }
}
#main {
    background: $gold;
    flex: 1;
    @media all and (min-width: 768px) {
        .inner {
            max-width: 760px;
        }
    }
}
.bingo-header {
    display: flex;
    justify-content: center;
    padding: 0 0 15px 0;
    .letter {
        flex: 0 1 20%;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
    }
    @media all and (min-width: 460px) {
        .letter {
            font-size: clamp(1.5rem, 2.5vw, 3rem);
        }
    }
}
#bingo {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    .grid-item {
        padding: 0px;
        text-align: center;
        &.marked {
            .card {
                background: $red;
                color: $white;
                pointer-events: none;
            }
        }
        .card {
            background: $offwhite;
            border: none;
            //border-radius: 5px;
            font-family: "Roboto Slab", serif;
            padding: 14px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: relative;
            width: 100%;
            &:before,
            &:after {
                display: block;
                font-size: 20px;
                line-height: 1;
                padding: 4px 0;
                position: absolute;
                height: 10px;
            }
            &:before {
                content:'“';
                top: 0;
                left: 6px;
            }
            &:after {
                content: '”';
                bottom: 0;
                right: 6px;
            }
            &:hover {
                cursor: pointer;
            }
            .text {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                font-size: .5rem;
                font-weight: 500;
                position: relative;
            }
        }
    }
    @media all and (min-width: 410px) {
        .grid-item {
            .card {
                .text {
                    font-size: .6rem;
                }
            }
        }
    }
    @media all and (min-width: 460px) {
        .grid-item {
            .card {
                .text {
                    font-size: clamp(.75rem, 2.35vw, 1rem);
                }
            }
        }
    }
}

#footer {
    background: $gray;
    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            color: $white;
            margin-bottom: 10px;
            &:last-child {
                margin: 0;
            }
            &.love {
                font-family: "Roboto Slab", serif;
            }
            .red {
                display: inline-block;
                font-size: 1.4rem;
                padding: 0 4px;
                transform: translateY(2px);
            }
        }
    }
    @media all and (min-width: 768px) {
        .footer-links {
            flex-direction: row;
            li {
                margin: 0;
            }
        }
    }
}

.modal-open {
    overflow: hidden;
}
.modal {
    display: none;
    background: rgba($gray-dark, .25);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    position: fixed;
    z-index: 80;
    &.modal-active {
        display: block;
    }
    .modal-box {
        background: #fff;
        padding: 20px;
        position: relative;
        max-width: 420px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
        background: $red;
        border: none;
        border-radius: 5px;
        color: $white;
        display: inline-block;
        // font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        line-height: 1;
        padding: 6px 10px;
        margin: 0 3px;
        // min-width: 80px;
        text-align: center;
        &:hover,
        &:active {
            background: $gray-dark;
            cursor: pointer;
        }
    }
}