---
import "../css/styles.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutModal from "../components/AboutModal.astro";
import WinnerModal from "../components/WinnerModal.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/the-peoples-bingo/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>The People's Bingo</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<AboutModal />
		<WinnerModal />
	</body>
	<script>
		import '../js/scripts.js';
	</script>
</html>
