---
import "normalize.css";
import "../css/styles.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutModal from "../components/AboutModal.astro";
import WinnerModal from "../components/WinnerModal.astro";
import ShareModal from "../components/ShareModal.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/the-peoples-bingo/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>The People's Bingo</title>
		<meta name="description" content="The People's Bingo is a People's Court themed bingo game for the true fan of The Honorable Judge Marilyn Milian.">
		<meta name="keywords" content="people, people's, court, bingo, game, javascript">
		<meta property="og:url" content="https://ionz149.github.io/the-peoples-bingo/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="The People's Bingo">
		<meta property="og:description" content="The People's Bingo is a People's Court themed bingo game for the true fan of The Honorable Judge Marilyn Milian.">
		<meta property="og:image" content="/the-peoples-bingo/the-peoples-bingo.png">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="ionz149.github.io">
		<meta property="twitter:url" content="https://ionz149.github.io/the-peoples-bingo/">
		<meta name="twitter:title" content="The People's Bingo">
		<meta name="twitter:description" content="The People's Bingo is a People's Court themed bingo game for the true fan of The Honorable Judge Marilyn Milian.">
		<meta name="twitter:image" content="/the-peoples-bingo/the-peoples-bingo.png">
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<AboutModal />
		<WinnerModal />
		<ShareModal />
	</body>
	<script>
		import '../js/scripts.js';
	</script>
</html>
