<!doctype html>
---
import "../css/styles.scss";
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>The People's Bingo</title>
	</head>
	<body>
		<slot />
	</body>
	<!-- <script src="../js/scripts.js"></script> -->
	<script>
		import '../js/scripts.js';
	</script>
</html>
